@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #B76E791A;
  --secondary-color: #b76e79;
}
.textColor{
  color: #001F54 !important;
}
.primaryColor{
  color: var(--secondary-color);
}
.secondaryColor{
  background-color: var(--primary-color) !important;
}
* {
  font-family: "Public Sans", sans-serif !important;
}
.btn-primary {
  --bs-btn-bg: var(--secondary-color) !important;
  --bs-btn-border-color: var(--secondary-color) !important;
}

.navbar-nav{
  gap: 40px !important;
}
.cardColor{
  background: #F8F0F2 !important;
}
.nav-link {
  white-space: nowrap !important;
}
