@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #b76e791a;
  --secondary-color: #b76e79;
  --bs-border-color-translucent: #b76e79 !important;
  --bs-card-cap-bg: #fff !important;
  --bs-body-color-rgb: #fff !important;
  --bs-body-bg: transparent !important;
}
.textColor {
  color: #001f54 !important;
}
.primaryColor {
  color: var(--secondary-color);
}
.secondaryColor {
  background-color: var(--primary-color) !important;
}
* {
  font-family: "Public Sans", sans-serif !important;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--secondary-color) !important;
  --bs-btn-border-color: var(--secondary-color) !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--secondary-color) !important;
  --bs-btn-hover-border-color: var(--secondary-color) !important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--secondary-color) !important;
  --bs-btn-active-border-color: var(--secondary-color) !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--secondary-color) !important;
  --bs-btn-disabled-border-color: var(--secondary-color) !important;
}
.btn {
  --bs-btn-padding-x: 28px !important;
  --bs-btn-padding-y: 8px !important;
  --bs-border-radius: 10px !important;
  --bs-btn-font-size: 16px !important;
}
.navbar-nav {
  gap: 35px !important;
}
.cardColor {
  background: #f8f0f2 !important;
}
.nav-link {
  white-space: nowrap !important;
}
.nav-dropdown-container {
  position: relative;
}

.nav-dropdown-container .custom-dropdown {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 250px;
  background: #fff;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 8px 0;
  z-index: 1000;
}
.nav-dropdown-container .dropdown-toggle::after {
  display: none !important;
}
.custom-dropdown .dropdown-item {
  padding: 10px 30px;
  font-size: 14px;
  color: #000;
}
.custom-dropdown .dropdown-item:hover {
  background: #f8f9fa;
}
.nav-dropdown-container span {
  display: inline-block;
  padding: 0.5rem 1rem;
  line-height: 1.5;
  cursor: pointer;
}

@media (max-width: 991px) {
  .heartRight {
    display: none !important;
  }
  .heartLeft {
    display: none !important;
  }
  .nav-dropdown-container {
    display: none !important;
  }
}

.navbar-toggler-icon-close {
  color: var(--primary-color) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
}

.navLink {
  color: var(--secondary-color) !important;
}
.imgLogo {
  cursor: pointer;
}
.featuresBanner {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.custom-tabs {
  background-color: var(--primary-color) !important;
  border-radius: 10px !important;
}

.custom-tabs .nav-link {
  color: #001f54 !important;
  font-weight: 600 !important;
  border: none !important;
  background: transparent !important;
}

.custom-tabs .nav-link.active {
  color: var(--secondary-color) !important;
  font-weight: 600 !important;
  background: transparent !important;
  border: none !important;
}

.card {
  border: var(--bs-card-border-width) solid var(--bs-border-color-translucent) !important;
}
.card-header {
  background-color: var(--bs-card-cap-bg) !important;
  margin-bottom: 20px !important;
  border-bottom: 1px solid #001f54 !important;
}
.filterSearchMemberCard {
  border: none !important;
  background-color: var(--primary-color) !important;
}
.basicInformationCardHeader {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
} 

.custom-select,
.custom-select option {
  color: #001f54; 
}

